@import url("components/hero.css");
@import url("components/card.css");
@import url("components/footer.css");

* {
  box-sizing: border-box;
}

body {
  /*color: #eee;*/
  background-color: #baaeae;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

header {
  width: 100%;
}

element.style {
}
@media only screen and (max-width: 766px) .logo {
  float: none;
}

h1 {
  color: #8c2944;
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2%;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .content {
    padding: 5px 2%;
  }
}

.mouse {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 26px;
  height: 65px;
  border-radius: 13px;
  border: 2px solid #b23255;
  margin-top: 69px;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #b23255;
  border: 5px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.skill {
  display: flex;
  align-items: center;
}

.skill table {
  display: inline-block;
  align-items: center;
  margin-left: 10%;
  margin-right: 10px;
}

.skill table td {
  width: 300px;
}

.fas {
  color: #421231;
}

.sec04 h1 {
  margin-left: auto;
  margin-right: auto;
}

.bs {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 0.7em;
}
