@import "card.scss";
@import "footer.scss";


.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 10px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  color:white;
  background-color: rgb(70 64 64 / 93%);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
.row nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  .row nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
.row nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  .row nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
.row nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.row p{
  letter-spacing:1px;
  text-align: justify;
}

@media only screen and (max-width: 400px) {
.row p {
  padding-left:10px;
  padding-right:10px;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: #eee;
  background-color: #baaeae;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding-right:0px;
  padding-left:0px;
  margin-right:0px;
  margin-left:0px;
  margin-top: 0px;

}

a {

  text-decoration: none;
}

h1 {
  color:#421231;
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2%;
}

.hero {
  /* https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/109852763/original/e9f05328b042adf5ef076bf637296a484a609342/create-trendy-abstract-geometric-pattern-on-light-background.jpg */
  /* https://coverfiles.alphacoders.com/132/132917.jpg*/
  position: relative;
  background: url(https://res.cloudinary.com/dleicsu2y/image/upload/c_fill,q_76,w_1010/v1601466524/MYWEB/jose-ignacio-pompe-BOdwM5V0jU4-unsplash_nrm6lb.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #b23255;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 110px;
  min-height: 650px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  filter: sepia(50%);
  filter: drop-shadow(8px 8px 10px gray);
  margin-right: 0px;
  margin-left: 0px;
  border:0;
}

@media only screen and (max-width: 400px) {
  .hero  {
    -webkit-background-size: cover;
    -moz-background-size: inherit;
    background-size:cover;
    min-height: 650px;
    padding-top: 110px;

  }
}

.hero h1 {
  font-size: 50px;
  line-height: 1.3;
  filter: none;
  color:#FD5248;
}

@media only screen and (max-width: 400px) {
  .hero h1 {
    font-size:45px;
  }
}

.hero h1 span {
  font-size: 35px;
  color: #FF714A;
  border-bottom: 2px solid #FE714A;
  padding-bottom: 12px;
  line-height: 3;


  /*background-color: black;*/
  /*opacity: 70%;*/
}
@media only screen and (max-width: 400px) {
  .hero h1 span{
    font-size:25px;
  }
}

.mouse {
  display: block;
  margin: 0px auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #B23255;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #B23255;
  border: 5px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.skill {
  display:flex;
  align-items: center;

}


.skill table{
display: inline-block;
align-items: center;
margin-left: 10%;
margin-right: 10px;
}

.skill table td {
 width: 300px;

}

.fas {
  color:#421231;
}


.sec04 h1 {
  margin-left: auto;
  margin-right: auto;
}





/*card portfolio*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.card-container {
  background-color: ;
  text-align: center;
}

 .card-container h1 {
    font-family: Lato;
    font-weight: 300;
    color: #cfcfcf#aaa7a7;
    font-size: 50px;
    margin-left: 5px;
    text-transform: uppercase;
 }

  .portfolio-card {
    width: 300px;
    height: 200px;
    background-size: 110%;
    background-position: top center;
    transition: all 0.2s ease-out 0.5s;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
  }
 .portfolio-card h1 {
    font-family: "Montserrat", sans-serif;;
    color: #fd5248;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 10px 0;
    opacity: 0;
    transition: all 0.2s ease-out 0.4s;
  }

    .portfolio-card p {
    font-family: "Montserrat", sans-serif;
    color: #fd5248;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: all 0.2s ease-out 0.3s;
    margin: 0;
  }
    .more {

    width: 40px;
    height: 40px;
    background-color: #b23255;

    padding: 12px 8px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
    }

    .more span {
      color: black;
      font-size: 30px;
      line-height: 0px;
      display: block;
    }

    .portfolio-card:hover {
      box-shadow: inset 0px 0px 150px 100px rgba(0,0,0,0.8);
      background-size: 100%;
      transition: all 0.2s ease-out 0s;
    }

      .portfolio-card:hover h1{
        opacity: 1;
        transition: all 0.5s ease-out 0.2s;
      }

      .portfolio-card:hover p {
        opacity: 1;
        transition: all 0.5s ease-out 0.3s;
      }

      .portfolio-card:hover .more {
        opacity: 1;
        bottom: -10px;
        transition: all 0.2s ease-out 0.4s;
      }




/*footer */


.footer-container{
  padding-bottom: 80px;
}
.footer {
  margin: 0;
  padding: 0;
  background: #222;
  align-items:center;
  position:relative;
  bottom:10px;
}

.left-bottom {
  left: auto;
  position: absolute;
  bottom: 9px;
  text-align: center;
  padding-top:5px
}
@media only screen and (max-width: 400px) {
  .left-bottom {

  left: -0px;
  padding:5px;
  text-align:start;

  }
}

.right-bottom{
  right: auto;
  position: absolute;
  bottom: 25px;
  text-align: center;
}
@media only screen and (max-width: 400px) {
  .right-bottom {

  right:170px;
  position: absolute;
  bottom: 55px;
  text-align: start;
  }
}

#gradient {
  background: #999955;
  background-image: linear-gradient(#FF9348 20%, #FF724A 20%, #FF724A 40%, #FE5349 40%, #FE5349 60%, #B23255 60%, #B23255 80%, #421232 80%);
  margin: 0px auto;
  margin-top: 100px;
  width: 100%;
  height: 150px;
}

#gradient:after {
  content: " ";
  position: absolute;
  background: #4E4848;
  left: 50%;
  margin-top: -67.5px;
  margin-left: -270px;
  padding-left: 20px;
  border-radius: 3px;
  width: 520px;
  height: 275px;
  z-index: -1;
  filter: drop-shadow(8px 8px 10px gray);
}
@media only screen and (max-width: 400px) {
  #gradient:after {
    width: 320px;
    height: 270px;
    padding-left: 20px;
    padding-right:20px;
    margin-left: -180px;
  }
}

 #contact-card {
    position:absolute;
    width: 450px;
    height: 225px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    margin-top: -190.5px;
    margin-left: -225px;
    padding-left: 20px;
    border-radius: 3px;
    background: #aaa7a7;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;
}
@media only screen and (max-width: 400px) {
  #contact-card {
    width: 90%;
    height:auto;
    margin: 0;
    position:absolute;

    height: 225px;
    padding: 10px;
    padding-top: initial;

    left: 5%;
    bottom:-30px;
  }
}
/*
#contact-card img {
  width: 150px;
  float: left;
  border-radius: 3px;
  margin-right: 20px;
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  filter: sepia(1);
}*/


#contact-card h2 {
  text-align: ;
  font-family: courier;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
}

#contact-card p {
  font-family: courier;
  color: #555;
  font-size: 13px;
}

#contact-card span {
  font-family: courier;
}

.social-buttons a {
 display:inline;
 color: #31203E;
 margin:10px;
}

.social-buttons:hover a {
  color: #D73A24;
}


.profpic {
  position: absolute;
  width: 150px;
  height:170px;
  bottom:45px;
  right:20px;
  padding-bottom-bottom: 1px;
}

@media only screen and (max-width: 400px) {
  .profpic {
   width: 140px;
   height:160px;
   bottom:55px;
   right:5px;
  }
}












